body {
	width: 100%;
	height: 100%;
	background: url('../images/wallpaper 03.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 20px;
	font-family: "Rokkitt", Arial, sans-serif;
}

.headings {
	color: #fff;
	text-shadow: 0 0 20px #000;
}

input[type=text] {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
	padding: 20px 10px;
	height: 30px;
	width: 80px;
	font-size: 25px;
	text-align: center;
}

.btn-default {
	font-size: 20px;
	font-weight: 900;
}

#timer {
	width: 700px;
}

#time {
	font-size: 10em;
}

#round-display {
	display: none;
	font-size: 3em;	
}

#msg-blank, #msg-invalid, #session-zero, #round-zero {
	display: none;
	width: 500px;
	margin: 0 auto 20px;
}

.btn-div {
	display: inline-block;
	margin: 0 50px;
}

#back-btn-div {
	display: none;
}

#back-btn {
	font-size: 1.2em;
}

@media only screen and (max-width: 900px) {
	h3.headings {
		width: 150px;
		margin: 0 auto;
	}

	h3.round-label {
		margin: 0 auto;
		width: 100px;
	}
}

@media only screen and (max-width: 780px) {
	.session-div, .break-div {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 680px) {
	#timer {
		width: 600px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 625px) {
	.btn-div {
		margin: 0 35px;
	}
}

@media only screen and (max-width: 600px) {
	#timer {
		width: 400px;
	}

	#time {
		font-size: 6em;
	}

	.alert {
		width: 100% !important;
	}

	.btn-div {
		margin: 0 20px;
	}

	.btn-success, .btn-danger {
		font-size: 15px;
	}
}

@media only screen and (max-width: 440px) {
	#timer {
		width: 350px;
	}

	#time {
		font-size: 5em;
	}

	.btn-div {
		margin: 0 15px;
	}

	.btn-success, .btn-danger {
		font-size: 13px;
	}
}

@media only screen and (max-width: 400px) {
	#timer {
		width: 300px;
	}

	#time {
		font-size: 4em;
	}

	.btn-div {
		margin: 0 10px;
	}

	.btn-success, .btn-danger {
		font-size: 12px;
	}
}

@media only screen and (max-width: 380px) {
	#timer {
		width: 100%;
	}

	.btn-success, .btn-danger {
		font-size: 11px;
	}

	.btn-div {
		margin: 0 3px;
	}
	
}

@media only screen and (max-width: 300px) {
	#timer {
		width: 100%;
		margin: 0;
	}

	#time {
		font-size: 3em;
	}

	#round-display {
		font-size: 2em;
	}

	.btn-success, .btn-danger {
		font-size: 10px;
	}

	.btn-div {
		margin: 0 3px;
	}
	
}